.sidbar {
  background-color: green;
  grid-area: s;
  &__menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &__item {
    list-style: none;
  }
  &__link {
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
  }
}
