.main {
  background-color: gray;
  grid-area: m;
  &__im {
    min-width: 1000px;
    width: 100%;
    object-fit: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "p";
  }
}
