.post {
  background-color: white;
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  &__img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    grid-area: p;
  }
  &__item span {
    display: block;
  }
}
